@using TelephoneDirectory.WebApp.Models
@model  ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

<div class="content-wrapper">
    <div>
        <section class="content-header">
            <h1>
                Change Password
            </h1>
            <div class="text-right">
                <a href="/Admin/Dashboard/Index"><i class="fa fa-dashboard"></i> Home</a> >
                <span>Change Password</span>
            </div>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div>
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                    {
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        @ViewBag.Success
                        <div class="col-md-8">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Change Password</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Old Password</label>
                                                @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Enter your Old Password", @class="form-control", type = "password" })
                                            </div>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                @Html.PasswordFor(model => model.NewPassword, new { placeholder = "Enter your RePassWord", @class="form-control", type = "password" })
                                            </div>
                                            <div class="form-group">
                                                <label for="LastName">Confirm Password</label>
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Enter your RePassWord", @class = "form-control", type = "password" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                            <!-- /.box -->
                        </div>
                    }
                    </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>